
.g-width-50 {
   width: 50px !important;
}

@media (min-width: 0){
   .g-pa-30 {
      padding: 2.14286rem !important;
   }

   
}

.g-bg-secondary {
   background-color: #fafafa !important;
   
}

.u-shadow-v18 {
   box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
   color: #777 !important;
}

.g-font-size-12 {
   font-size: 0.85714rem !important;
}

.media-comment {
   margin-top:20px
}

div#comentario{
   min-height:35%;
}


img#img{
   border-top-left-radius: 0.5rem;
   border-bottom-left-radius: 0.5rem;
   font-size: 0.8rem;
   position: absolute;
   top: 10%;
   left: 2%;
}

div#valoracion{
   border-top-left-radius: 0.3rem;
   border-bottom-left-radius: 0.5rem;
   border-bottom-right-radius: 0.5rem;
   border-top-right-radius: 0.3rem;
   font-size: 0.8rem;
   position: absolute;
   top: 0;
   left: 0;

}

h5#valorador {
   font-size: 1rem;
   position: absolute;
   top: 0.5rem; /* Set the distance from the top to include margin */
   left: 28%; /* Move the left edge to the center */
   /* Move it back half of its own width to center it horizontally */
 }

p#descripcion {
   font-size: 0.8rem; /* Adjust the font size as needed */
   position: relative;
   top: 0;
   left: 28%;
   text-align: justify;
}

div#starsCalidad{
   position: absolute;
   top: 60%;
   left: 2%;
}

div#starsFiabilidad{
   position: absolute;
   top: 80%;
   left: 2%;
}